{% extends 'core/base.html' %}
{% block title %}List-homeworks{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">

            {% for homework in homeworks %}
                <div class="col-3">
                    <div class="card-deck mb-3">
                        <div class="card text-white bg-dark shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ homework.name }}</h5>
                                <p class="card-text">Responsable: <b>{{ homework.responsible }}</b></p>
                                <p class="card-text">Prioridad: <b>{{ homework.priority }}</b></p>
                                <p class="card-text">Tiempo estimado: <b>{{ homework.estimated_time }}</b></p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                         style="width: {{ homework.state }}%" aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                                <br/>
                                <a href="#" class="card-link text-warning"><i class="fas fa-link"></i> Ver más</a>
                                <p class="card-text">
                                    <small class="text-muted">Ultima actualización {{ homework.updated }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <tr class="table-active">
                    <td colspan="3">No existe tareas registradas!!!</td>
                </tr>
            {% endfor %}
        </div>
    </div>

{% endblock content %}