{% extends 'core/base.html' %}
{% block title %}Client-Update{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {#        {% crispy form %}#}
    <div class="card bg-light text-dark">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {#                {{ form|crispy }}#}

                <div class="row">
                    <div class="col-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.document|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ form.telephone|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col-4">
{#                        <img src="{{ form.image.url }}" class="rounded" alt="Descripción de la imagen" width="50"#}
{#                             height="40">#}
                        {{ form.image|as_crispy_field }}
                    </div>
                </div>
                {{ form.address|as_crispy_field }}
                <div class="input-group">
                    <button class="btn btn-primary" type="submit"><i
                            class="fa fa-save"></i>
                        Guardar
                    </button>
                    <a href="{% url 'client_list' %}">
                        <button class="btn btn-danger" type="button">
                            <i class="fa fa-arrow-circle-left"></i> Cancelar
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}