{% extends 'core/base.html' %}
{% block title %}List-projects{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">

            {% for project in projects %}
                <div class="col-3">
                    <div class="card-deck mb-3">
                        <div class="card bg-light mb-3 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }}</h5>
                                <p class="card-text">{{ project.address }}</p>
                                <a href="#" class="card-link text-blue"><i class="fas fa-link"></i> Ver más</a>
                                <p class="card-text">
                                    <small class="text-muted">Ultima actualización {{ project.updated }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <tr class="table-active">
                    <td colspan="3">No existe proyectos registrados!!!</td>
                </tr>
            {% endfor %}
        </div>
    </div>

{% endblock content %}