<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>{% block title %}{% endblock %} | Incotech</title>

    <!-- Estilos y fuentes del template  -->
    {% load static %}

    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

    {% load fontawesome_5 %}
    {% fontawesome_5_static %}


    <!--    Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <!-- Custom styles for this template -->
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm titulo">
    <h5 class="my-0 mr-md-auto font-weight-normal titulo">INCOTECH</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        {#        {% if request.path == '/' %}#}
        <a class="p-2 text-dark" href="{% url 'home' %}">Inicio</a>
        {#        {% endif %}#}
        <a class="p-2 text-dark" href="{% url 'client_list' %}">Clientes</a>
        <a class="p-2 text-dark" href="{% url 'project_list' %}">Proyectos</a>
        <a class="p-2 text-dark" href="{% url 'homework_list' %}">Tareas</a>
{#        <a class="p-2 text-dark" href="{% url 'admin' %}">Admin</a>#}

        {#        <a class="p-2 text-dark" href="{% url 'collaborator' %}">Colaboradores</a>#}
    </nav>
    <a class="btn btn-outline-link" href="#">Iniciar Sesión</a>
</div>

<div class="container small">
    {% block content %}

    {% endblock %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">
            <span class="text-muted">Copyright © 2019</span>
        </div>
    </footer>
</div>

{# JS y jQuery Bootstrap #}
{% bootstrap_javascript jquery='full' %}

</body>
</html>