{% extends 'core/base.html' %}

{% block content %}
{#    <div class="container">#}
{#        <div class="card bg-light mb-3">#}
            {#                        <div class="card-header">Header</div>#}
{#            <div class="card-body">#}
{#                <h1 class="card-title">Primary card title</h1>#}
{#                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
{#                    card's content.</p>#}
{#                <a href="#" class="card-link text-blue"><i class="fas fa-link"></i> Ver más</a>#}
{#                <p class="card-text">#}
{#                    <small class="text-muted">Last updated 3 mins ago</small>#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}