{% extends 'core/base.html' %}

{% block content %}
{#    <div class="container">#}
{#        <div class="card-deck mb-3 text-center">#}
{#            <div class="card mb-3 shadow-sm">#}
{#                <div class="card-header">#}
{#                    <h4 class="my-0 font-weight-normal">Nombre</h4>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <p>Alguna descripción.</p>#}
{#                    <button type="button" class="btn btn-xsm btn-block btn-outline-primary">Ver</button>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card mb-3 shadow-sm">#}
{#                <div class="card-header">#}
{#                    <h4 class="my-0 font-weight-normal">Nombre</h4>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <p>Alguna descripción.</p>#}
{#                    <button type="button" class="btn btn-xsm btn-block btn-outline-primary">Ver</button>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card mb-3 shadow-sm">#}
{#                <div class="card-header">#}
{#                    <h4 class="my-0 font-weight-normal">Nombre</h4>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <p>Alguna descripción.</p>#}
{#                    <button type="button" class="btn btn-xsm btn-block btn-outline-primary">Ver</button>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card mb-3 shadow-sm">#}
{#                <div class="card-header">#}
{#                    <h4 class="my-0 font-weight-normal">Nombre</h4>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <p>Alguna descripción.</p>#}
{#                    <button type="button" class="btn btn-xsm btn-block btn-outline-primary">Ver</button>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card mb-3 shadow-sm">#}
{#                <div class="card-header">#}
{#                    <h4 class="my-0 font-weight-normal">Nombre</h4>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <p>Alguna descripción.</p>#}
{#                    <button type="button" class="btn btn-xsm btn-block btn-outline-primary">Ver</button>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{% endblock %}